.mymodal{
  width: 350px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
}

.modalDiv {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgb(126, 126, 126);
  display: flex;
  justify-content: center;
  align-items: center;
}